{{define "body"}}

{{if gt (len .Errors) 0}}
    {{range .Errors}}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg width="20px" xmlns="http://www.w3.org/2000/svg" class="bi flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
            {{ . }}
        </div>
    </div>
    {{end}}
{{end}}

<form method="post" class="text-start">
    <div class="mb-3">
        <label for="name" class="form-label">Ваше имя</label>
        <input type="text" value="{{.Name}}" class="form-control" name="name" id="name" placeholder="Иван" aria-describedby="name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Почта Email</label>
        <input type="email" value="{{.Email}}" class="form-control" name="email" id="email" placeholder="example@mail.ru" aria-describedby="email">
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Номер телефона</label>
        <input type="text" value="{{.Phone}}" class="form-control" name="phone" id="phone" placeholder="+7(987)816-65-33" aria-describedby="phone">
    </div>
    <button type="submit" class="btn btn-success">Готово</button>
</form>

{{end}}